# This file defines required service configurations.
# It can be overridden by user specific configurations in conf/services folder.

org.eclipse.smarthome.folder:items=items
org.eclipse.smarthome.folder:sitemaps=sitemap
org.eclipse.smarthome.folder:rules=rules
org.eclipse.smarthome.folder:scripts=script
org.eclipse.smarthome.folder:persistence=persist
org.eclipse.smarthome.folder:things=things

org.eclipse.smarthome.security:option=OFF

org.eclipse.smarthome.binding.sonos:opmlUrl=http://opml.radiotime.com/Describe.ashx?c=nowplaying&partnerId=IAeIhU42&id=%id&serial=%serial

org.jupnp:multicastResponsePort=0
org.jupnp:asyncThreadPoolSize=30
org.jupnp:threadPoolSize=15

org.eclipse.smarthome.audio:defaultSink=enhancedjavasound
org.eclipse.smarthome.voice:defaultHLI=rulehli

com.eclipsesource.jaxrs.connector:root=/rest
com.eclipsesource.jaxrs.swagger.config:swagger.basePath=/rest
com.eclipsesource.jaxrs.swagger.config:swagger.info.title=openHAB REST API

# Configuration of thread pool sizes
org.eclipse.smarthome.threadpool:thingHandler=3
org.eclipse.smarthome.threadpool:discovery=3
org.eclipse.smarthome.threadpool:safeCall=3
