.antlr*
.idea
.vscode
.DS_Store
*.iml
maven-metadata-local.xml
Californium.properties

.history/
.metadata/
bin/
src-gen/
target/
xtend-gen/

*/plugin.xml_gen
**/.settings/org.eclipse.*
**/src/main/history/

launch/app/runtime/userdata
