# This file helps GitHub doing automatic review requests for new PRs.
# It should always list the active maintainers of the distro.

# Assign all PRs to the distro maintainers:
*       @openhab/distro-maintainers
