<configuration scan="true" scanPeriod="30 seconds">

  <!-- defined a console append -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%.15thread] %-5level %logger{36}:%line - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- http://felix.apache.org/documentation/subprojects/apache-felix-logback.html -->
  <!-- TRACE DEBUG INFO WARN ERROR OFF -->

  <!-- log all Framework events -->
  <!-- <logger name="Events.Framework" level="TRACE" /> -->

  <!-- log all Bundle events -->
  <!-- <logger name="Events.Bundle" level="TRACE" /> -->

  <!-- log all Service events -->
  <!-- <logger name="Events.Service" level="TRACE" /> -->

  <!-- any log events originating from bundles that used the original LogService logging API -->
  <logger name="LogService" level="WARN" />

  <!-- log WARN Framework service events of bundles whose BSN starts with `org.eclipse.osgi` (guess who that is?) -->
  <!-- <logger name="Events.Service.org.eclipse.osgi" level="WARN" /> -->

  <!-- turn OFF legacy Log Service records from bundles whose BSN starts with `org.baz` -->
  <!-- <logger name="LogService.org.baz" level="OFF" /> -->

  <!-- log DEBUG from any log API using a logger name starting with `org.my.foo` -->
  <!-- <logger name="org.my.foo" level="DEBUG" /> -->


  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="org.eclipse.smarthome" level="INFO" />
  <logger name="org.openhab.core" level="INFO" />

</configuration>
