## Standard settings of Karaf

#
# Encryption prefix
#
encryption.prefix = {CRYPT}

#
# Encryption suffix
#
encryption.suffix = {CRYPT}

#
# Set the encryption algorithm to use in Karaf JAAS login module
# Supported encryption algorithms follow:
#   basic/jasypt: MD2, MD5, SHA-1, SHA-256, SHA-384, SHA-512
#   spring-security-crypto: argon2, bcrypt, pbkdf2, scrypt
#
encryption.algorithm = SHA-256

#
# Encoding of the encrypted password.
# Can be:
#   hexadecimal
#   base64
#
encryption.encoding = hexadecimal

##########################################################################
##
## Custom openHAB configuration

#
# Boolean enabling / disabling encrypted passwords
#
encryption.enabled = true

#
# Encryption Service name
#   basic: the default encryption service which digests passwords without
#          salting them
#   jasypt: a more powerful alternative which supports salting
#   spring-security-crypto: Supports bcrypt, argon2, pbkdf2, scrypt. Requires
#                           the "spring-security-crypto-encryption" feature
#                           to be installed.
#
encryption.name = basic

