## Standard settings of Karaf

#
# Enable or disable the refresh of the bundles when installing
# the features contained in a KAR file
#
noAutoRefreshBundles=false

#
# Enable or disable the automatic start of the bundles when installing
# the features contained in a KAR file
#
noAutoStartBundles=false

##########################################################################
##
## Custom openHAB configuration

#
# Directory where the kar are stored (when downloaded from Maven for instance)
#
karStorage=${karaf.data}/tmp/kar
