<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="openHAB Target Platform" sequenceNumber="194">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="net.minidev.accessors-smart" version="0.0.0"/>
<unit id="net.minidev.accessors-smart.source" version="0.0.0"/>
<unit id="com.jayway.jsonpath.json-path" version="0.0.0"/>
<unit id="com.jayway.jsonpath.json-path.source" version="0.0.0"/>
<unit id="org.apache.commons.net" version="3.3.0"/>
<unit id="org.apache.commons.net.source" version="3.3.0"/>
<unit id="org.mapdb.mapdb" version="0.0.0"/>
<unit id="org.mapdb.mapdb.source" version="0.0.0"/>
<unit id="net.minidev.json-smart" version="0.0.0"/>
<unit id="net.minidev.json-smart.source" version="0.0.0"/>
<unit id="javax.measure.unit-api" version="0.0.0"/>
<unit id="javax.measure.unit-api.source" version="0.0.0"/>
<unit id="tec.uom.lib.uom-lib-common" version="0.0.0"/>
<unit id="tec.uom.lib.uom-lib-common.source" version="0.0.0"/>
<unit id="tec.uom.se" version="0.0.0"/>
<unit id="tec.uom.se.source" version="0.0.0"/>
<unit id="org.h2" version="0.0.0"/>
<unit id="org.h2.source" version="0.0.0"/>
<unit id="org.osgi.service.jdbc" version="0.0.0"/>
<unit id="org.osgi.service.jdbc.source" version="0.0.0"/>
<unit id="californium-osgi" version="0.0.0"/>
<unit id="org.eclipse.californium.element-connector" version="0.0.0"/>
<unit id="org.eclipse.californium.scandium" version="0.0.0"/>
<unit id="org.eclipse.microprofile.metrics" version="0.0.0"/>
<unit id="osgi.annotation" version="0.0.0"/>
<unit id="osgi.annotation.source" version="0.0.0"/>
<unit id="org.mockito.mockito-core" version="0.0.0"/>
<unit id="org.mockito.mockito-core.source" version="0.0.0"/>
<unit id="org.objenesis" version="0.0.0"/>
<unit id="org.objenesis.source" version="0.0.0"/>
<unit id="net.bytebuddy.byte-buddy" version="0.0.0"/>
<unit id="net.bytebuddy.byte-buddy.source" version="0.0.0"/>
<unit id="net.bytebuddy.byte-buddy-agent" version="0.0.0"/>
<unit id="net.bytebuddy.byte-buddy-agent.source" version="0.0.0"/>
<unit id="org.eclipse.soda.dk.comm" version="0.0.0"/>
<unit id="org.eclipse.soda.dk.comm.aarch64" version="0.0.0"/>
<unit id="org.eclipse.soda.dk.comm.armv6hf" version="0.0.0"/>
<unit id="org.eclipse.soda.dk.comm.x86_64" version="0.0.0"/>
<unit id="org.eclipse.paho.client.mqttv3" version="0.0.0"/>
<repository location="http://eclipse.github.io/smarthome/third-party/target/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.14.0.v20180518-2029"/>
<unit id="org.eclipse.jdt.feature.group" version="3.14.0.v20180611-0500"/>
<repository location="https://download.eclipse.org/releases/photon"/>
</location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
        <repository location="https://dl.bintray.com/openhab/p2/openhab-core/2.5"/>
        <unit id="org.openhab.core" version="0.0.0"/>
        <unit id="org.openhab.core.audio" version="0.0.0"/>
        <unit id="org.openhab.core.audio.source" version="0.0.0"/>
        <unit id="org.openhab.core.auth.jaas" version="0.0.0"/>
        <unit id="org.openhab.core.auth.jaas.source" version="0.0.0"/>
        <unit id="org.openhab.core.auth.oauth2client" version="0.0.0"/>
        <unit id="org.openhab.core.auth.oauth2client.source" version="0.0.0"/>
        <unit id="org.openhab.core.automation" version="0.0.0"/>
        <unit id="org.openhab.core.automation.module.media" version="0.0.0"/>
        <unit id="org.openhab.core.automation.module.media.source" version="0.0.0"/>
        <unit id="org.openhab.core.automation.module.script" version="0.0.0"/>
        <unit id="org.openhab.core.automation.module.script.rulesupport" version="0.0.0"/>
        <unit id="org.openhab.core.automation.module.script.rulesupport.source" version="0.0.0"/>
        <unit id="org.openhab.core.automation.module.script.source" version="0.0.0"/>
        <unit id="org.openhab.core.automation.rest" version="0.0.0"/>
        <unit id="org.openhab.core.automation.rest.source" version="0.0.0"/>
        <unit id="org.openhab.core.automation.source" version="0.0.0"/>
        <unit id="org.openhab.core.binding.xml" version="0.0.0"/>
        <unit id="org.openhab.core.binding.xml.source" version="0.0.0"/>
        <unit id="org.openhab.core.boot" version="0.0.0"/>
        <unit id="org.openhab.core.boot.source" version="0.0.0"/>
        <unit id="org.openhab.core.compat1x" version="0.0.0"/>
        <unit id="org.openhab.core.compat1x.source" version="0.0.0"/>
        <unit id="org.openhab.core.config.core" version="0.0.0"/>
        <unit id="org.openhab.core.config.core.source" version="0.0.0"/>
        <unit id="org.openhab.core.config.discovery" version="0.0.0"/>
        <unit id="org.openhab.core.config.discovery.mdns" version="0.0.0"/>
        <unit id="org.openhab.core.config.discovery.mdns.source" version="0.0.0"/>
        <unit id="org.openhab.core.config.discovery.source" version="0.0.0"/>
        <unit id="org.openhab.core.config.discovery.upnp" version="0.0.0"/>
        <unit id="org.openhab.core.config.discovery.upnp.source" version="0.0.0"/>
        <unit id="org.openhab.core.config.discovery.usbserial" version="0.0.0"/>
        <unit id="org.openhab.core.config.discovery.usbserial.linuxsysfs" version="0.0.0"/>
        <unit id="org.openhab.core.config.discovery.usbserial.linuxsysfs.source" version="0.0.0"/>
        <unit id="org.openhab.core.config.discovery.usbserial.source" version="0.0.0"/>
        <unit id="org.openhab.core.config.dispatch" version="0.0.0"/>
        <unit id="org.openhab.core.config.dispatch.source" version="0.0.0"/>
        <unit id="org.openhab.core.config.serial" version="0.0.0"/>
        <unit id="org.openhab.core.config.serial.source" version="0.0.0"/>
        <unit id="org.openhab.core.config.xml" version="0.0.0"/>
        <unit id="org.openhab.core.config.xml.source" version="0.0.0"/>
        <unit id="org.openhab.core.extension.sample" version="0.0.0"/>
        <unit id="org.openhab.core.extension.sample.source" version="0.0.0"/>
        <unit id="org.openhab.core.id" version="0.0.0"/>
        <unit id="org.openhab.core.id.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.console" version="0.0.0"/>
        <unit id="org.openhab.core.io.console.eclipse" version="0.0.0"/>
        <unit id="org.openhab.core.io.console.eclipse.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.console.rfc147" version="0.0.0"/>
        <unit id="org.openhab.core.io.console.rfc147.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.console.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.http" version="0.0.0"/>
        <unit id="org.openhab.core.io.http.auth" version="0.0.0"/>
        <unit id="org.openhab.core.io.http.auth.basic" version="0.0.0"/>
        <unit id="org.openhab.core.io.http.auth.basic.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.http.auth.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.http.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.monitor" version="0.0.0"/>
        <unit id="org.openhab.core.io.monitor.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.net" version="0.0.0"/>
        <unit id="org.openhab.core.io.net.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.rest" version="0.0.0"/>
        <unit id="org.openhab.core.io.rest.auth" version="0.0.0"/>
        <unit id="org.openhab.core.io.rest.auth.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.rest.core" version="0.0.0"/>
        <unit id="org.openhab.core.io.rest.core.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.rest.log" version="0.0.0"/>
        <unit id="org.openhab.core.io.rest.log.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.rest.mdns" version="0.0.0"/>
        <unit id="org.openhab.core.io.rest.mdns.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.rest.optimize" version="0.0.0"/>
        <unit id="org.openhab.core.io.rest.optimize.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.rest.sitemap" version="0.0.0"/>
        <unit id="org.openhab.core.io.rest.sitemap.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.rest.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.rest.sse" version="0.0.0"/>
        <unit id="org.openhab.core.io.rest.sse.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.rest.voice" version="0.0.0"/>
        <unit id="org.openhab.core.io.rest.voice.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.transport.dbus" version="0.0.0"/>
        <unit id="org.openhab.core.io.transport.dbus.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.transport.mdns" version="0.0.0"/>
        <unit id="org.openhab.core.io.transport.mdns.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.transport.mqtt" version="0.0.0"/>
        <unit id="org.openhab.core.io.transport.mqtt.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.transport.serial" version="0.0.0"/>
        <unit id="org.openhab.core.io.transport.serial.javacomm" version="0.0.0"/>
        <unit id="org.openhab.core.io.transport.serial.javacomm.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.transport.serial.rxtx" version="0.0.0"/>
        <unit id="org.openhab.core.io.transport.serial.rxtx.rfc2217" version="0.0.0"/>
        <unit id="org.openhab.core.io.transport.serial.rxtx.rfc2217.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.transport.serial.rxtx.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.transport.serial.source" version="0.0.0"/>
        <unit id="org.openhab.core.io.transport.upnp" version="0.0.0"/>
        <unit id="org.openhab.core.io.transport.upnp.source" version="0.0.0"/>
        <unit id="org.openhab.core.model.core" version="0.0.0"/>
        <unit id="org.openhab.core.model.core.source" version="0.0.0"/>
        <unit id="org.openhab.core.model.item" version="0.0.0"/>
        <unit id="org.openhab.core.model.item.ide" version="0.0.0"/>
        <unit id="org.openhab.core.model.item.ide.source" version="0.0.0"/>
        <unit id="org.openhab.core.model.item.runtime" version="0.0.0"/>
        <unit id="org.openhab.core.model.item.runtime.source" version="0.0.0"/>
        <unit id="org.openhab.core.model.item.source" version="0.0.0"/>
        <unit id="org.openhab.core.model.lsp" version="0.0.0"/>
        <unit id="org.openhab.core.model.lsp.source" version="0.0.0"/>
        <unit id="org.openhab.core.model.persistence" version="0.0.0"/>
        <unit id="org.openhab.core.model.persistence.ide" version="0.0.0"/>
        <unit id="org.openhab.core.model.persistence.ide.source" version="0.0.0"/>
        <unit id="org.openhab.core.model.persistence.runtime" version="0.0.0"/>
        <unit id="org.openhab.core.model.persistence.runtime.source" version="0.0.0"/>
        <unit id="org.openhab.core.model.persistence.source" version="0.0.0"/>
        <unit id="org.openhab.core.model.rule" version="0.0.0"/>
        <unit id="org.openhab.core.model.rule.ide" version="0.0.0"/>
        <unit id="org.openhab.core.model.rule.ide.source" version="0.0.0"/>
        <unit id="org.openhab.core.model.rule.runtime" version="0.0.0"/>
        <unit id="org.openhab.core.model.rule.runtime.source" version="0.0.0"/>
        <unit id="org.openhab.core.model.rule.source" version="0.0.0"/>
        <unit id="org.openhab.core.model.script" version="0.0.0"/>
        <unit id="org.openhab.core.model.script.ide" version="0.0.0"/>
        <unit id="org.openhab.core.model.script.ide.source" version="0.0.0"/>
        <unit id="org.openhab.core.model.script.runtime" version="0.0.0"/>
        <unit id="org.openhab.core.model.script.runtime.source" version="0.0.0"/>
        <unit id="org.openhab.core.model.script.source" version="0.0.0"/>
        <unit id="org.openhab.core.model.sitemap" version="0.0.0"/>
        <unit id="org.openhab.core.model.sitemap.ide" version="0.0.0"/>
        <unit id="org.openhab.core.model.sitemap.ide.source" version="0.0.0"/>
        <unit id="org.openhab.core.model.sitemap.runtime" version="0.0.0"/>
        <unit id="org.openhab.core.model.sitemap.runtime.source" version="0.0.0"/>
        <unit id="org.openhab.core.model.sitemap.source" version="0.0.0"/>
        <unit id="org.openhab.core.model.thing" version="0.0.0"/>
        <unit id="org.openhab.core.model.thing.ide" version="0.0.0"/>
        <unit id="org.openhab.core.model.thing.ide.source" version="0.0.0"/>
        <unit id="org.openhab.core.model.thing.runtime" version="0.0.0"/>
        <unit id="org.openhab.core.model.thing.runtime.source" version="0.0.0"/>
        <unit id="org.openhab.core.model.thing.source" version="0.0.0"/>
        <unit id="org.openhab.core.persistence" version="0.0.0"/>
        <unit id="org.openhab.core.persistence.source" version="0.0.0"/>
        <unit id="org.openhab.core.scheduler" version="0.0.0"/>
        <unit id="org.openhab.core.scheduler.source" version="0.0.0"/>
        <unit id="org.openhab.core.semantics" version="0.0.0"/>
        <unit id="org.openhab.core.semantics.source" version="0.0.0"/>
        <unit id="org.openhab.core.source" version="0.0.0"/>
        <unit id="org.openhab.core.storage.json" version="0.0.0"/>
        <unit id="org.openhab.core.storage.json.source" version="0.0.0"/>
        <unit id="org.openhab.core.storage.mapdb" version="0.0.0"/>
        <unit id="org.openhab.core.storage.mapdb.source" version="0.0.0"/>
        <unit id="org.openhab.core.test" version="0.0.0"/>
        <unit id="org.openhab.core.test.source" version="0.0.0"/>
        <unit id="org.openhab.core.thing" version="0.0.0"/>
        <unit id="org.openhab.core.thing.source" version="0.0.0"/>
        <unit id="org.openhab.core.thing.xml" version="0.0.0"/>
        <unit id="org.openhab.core.thing.xml.source" version="0.0.0"/>
        <unit id="org.openhab.core.transform" version="0.0.0"/>
        <unit id="org.openhab.core.transform.source" version="0.0.0"/>
        <unit id="org.openhab.core.ui" version="0.0.0"/>
        <unit id="org.openhab.core.ui.dashboard" version="0.0.0"/>
        <unit id="org.openhab.core.ui.dashboard.source" version="0.0.0"/>
        <unit id="org.openhab.core.ui.icon" version="0.0.0"/>
        <unit id="org.openhab.core.ui.icon.source" version="0.0.0"/>
        <unit id="org.openhab.core.ui.source" version="0.0.0"/>
        <unit id="org.openhab.core.voice" version="0.0.0"/>
        <unit id="org.openhab.core.voice.source" version="0.0.0"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
        <unit id="org.openhab.deps.runtime.feature.group" version="1.0.40"/>
        <unit id="org.openhab.deps.test.feature.group" version="1.0.40"/>
        <repository location="https://dl.bintray.com/openhab/p2/openhab-deps-repo/1.0.40"/>
    </location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>