# The installation package of this openHAB instance
# Note: This is only regarded at the VERY FIRST START of openHAB
# Note: If you want to specify your add-ons yourself through entries below, set the package to "minimal"
# as otherwise your definition might be in conflict with what the installation package defines.
#
# Valid options:
#   - standard : Standard setup for normal use of openHAB
#   - minimal  : Installation of core components, but no UIs or other add-ons. Use this for special headless setups.
#   - demo     : A pre-configured demo setup which can be used for demonstration.
#
# See https://www.openhab.org/docs/configuration/packages.html for a detailed explanation of these packages.
#
package = standard

# Access Remote Add-on Repository
# Defines whether the remote openHAB add-on repository should be used for browsing and installing add-ons. (default is true)
#
#remote = true

# A comma-separated list of automation services to install (e.g. "automation = groovyscripting")
#automation = 

# A comma-separated list of bindings to install (e.g. "binding = knx,sonos,zwave")
#binding = 

# A comma-separated list of miscellaneous services to install (e.g. "misc = openhabcloud")
#misc = 

# A comma-separated list of persistence services to install (e.g. "persistence = jpa,rrd4j")
#persistence = 

# A comma-separated list of transformation services to install (e.g. "transformation = jsonpath,map")
#transformation = 

# A comma-separated list of UIs to install (e.g. "ui = basic,habpanel")
#ui = 

# A comma-separated list of voice services to install (e.g. "voice = googletts,marytts")
#voice = 
